:root {
    --primary-color: #202225;
    --secondary-color: #2f3136;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%
}

.container {
    display: flex;
    flex: 1;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px 0px;
}

.sidebar {
    width: 72px;
    background: var(--primary-color);
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
}

.sidebar-icon {
    width: 44px;
    height: 44px;
    margin: 14px; 
    background: linear-gradient(
        150.64deg,
        rgba(0, 0, 0, 0.1) 12.73%,
        rgba(0, 0, 0, 0) 89.32%
      ),
      #ffffff;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
    cursor: pointer;
}

.inner-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions-header {
    padding-left: 16px;
    height: 62px;
}


.actions-header-text {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFF;
}

.actions-container {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    width: 240px;
}