:root {
    --primary-color: #202225;
    --secondary-color: #2f3136;
    --input-color: rgba(0, 0, 0, 0.1);
    --input-border: rgba(0, 0, 0, 0.3);
    --primary-button: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.container {
    display: flex;
    flex: 1;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px 0px;
}

.sidebar {
    width: 72px;
    background: var(--primary-color);
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
}

.sidebar-icon {
    width: 44px;
    height: 44px;
    margin: 14px;
    background: linear-gradient(150.64deg, rgba(0, 0, 0, 0.1) 12.73%, rgba(0, 0, 0, 0) 89.32%), #ffffff;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
    cursor: pointer;
}

.inner-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    .form-fields {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: var(--secondary-color);

        .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 2rem;
            box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
            border-radius: 5px;
            transition: 0.8s ease;
            background: var(--primary-color);

            p {
                font-size: 1.5rem;
                font-family: Arial, Helvetica, sans-serif;
                color: #fff;
                font-weight: 900;
            }

            .auth-input {
                display: flex;
                flex-direction: column;
                position: relative;
                margin: 1rem 0rem;

                label {
                    margin-bottom: 0.45rem;
                    color: #fff;
                    font-size: 12px;
                    letter-spacing: 0.7px;
                    font-family: Arial, Helvetica, sans-serif;
                    line-height: 1.3;
                }

                input {
                    padding: 0.55rem 0.4rem;
                    border: 1px solid var(--input-border);
                    border-radius: 4px;
                    font-size: 14px;
                    outline: none;
                    transition: all 150ms ease-in-out 0s;
                    width: 85%;
                    background: var(--input-color);
                    color: #fff;
                }
            }
        }

        .form-button {

            margin-top: 2rem;
            display: flex;
            justify-content: flex-start;
            cursor: pointer;
            button {
                border-radius: 4px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
                color: #FFF;
                background-color: var(--primary-button);
                padding: 0.7rem 1.2rem;
                outline: none;
                cursor: pointer;
                transition: 0.3s ease;
            }
        }

        .account {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 0.2rem;
            color: #fff;

            p {
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
            }
            span {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    .form-image {
        flex: 3;
        display: flex;
        width: auto;
        height: 100vh;
        object-fit: cover;
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.05);

        img {
            width: 100%;
            height: auto;
        }
    }
}
.actions-header {
    padding-left: 16px;
    height: 62px;
}

.actions-header-text {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.actions-container {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    width: 240px;

    .search-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        border-top: 1px solid #000033;

        .input-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            background: var(--input-color);
            border: 1px solid var(--input-border);
            border-radius: 8px;
            margin-bottom: 8px;
            border: 1px solid transparent;
            width: 80%;

            .input-icon {
                width: 16px;
                display: flex;
                justify-content: center;
            }

            .input-text {
                background: none;
                border: none;
                margin-left: 3px;
                color: #fff;
                font-family: Helvetica Neue, sans-serif;
                font-size: 16px;
                outline: none;
                width: inherit;
            }
        }
    }

    .channel-list {
        width: 100%;
        display: flex;
        flex-direction: column;

        .message {
            color: #fff;
            padding: 0 16px;
        }
        .loading {
            height: 115px;
        }

        .channel-header {
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                font-family: Helvetica Neue, sans-serif;
                font-size: 13px;
                line-height: 16px;
                height: 16px;
                margin-bottom: 10px;
            }
        }
    }

    .channel-item {
        display: flex;
        align-items: center;
        font-family: Helvetica Neue, sans-serif;
        font-size: 14px;
        color: #fff;
        padding: 0px 20px;
        height: 100%;
        width: 100%;
        text-overflow: ellipsis;
        word-break: break-all;
    }

    .channel-container {
        height: 37px;
        display: flex;
        align-items: center;
    }

    .channel-container-selected {
        height: auto;
        display: flex;
        align-items: center;
        background: var(--input-color);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-weight: bold;
        margin-right: 16px;
        cursor: pointer;
        z-index: 2;
    }
}
